<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TodoCon</display-name>
    <servlet-name>TodoCon</servlet-name>
    <servlet-class>todo.TodoCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoCon</servlet-name>
    <url-pattern>/TodoCon</url-pattern>
  </servlet-mapping>
  <display-name>todo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TodoInsert</display-name>
    <servlet-name>TodoInsert</servlet-name>
    <servlet-class>todo.TodoInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoInsert</servlet-name>
    <url-pattern>/TodoInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoDisplay</display-name>
    <servlet-name>TodoDisplay</servlet-name>
    <servlet-class>todo.TodoDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoDisplay</servlet-name>
    <url-pattern>/TodoDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoItem</display-name>
    <servlet-name>TodoItem</servlet-name>
    <servlet-class>todo.TodoItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoItem</servlet-name>
    <url-pattern>/TodoItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoDisplayList</display-name>
    <servlet-name>TodoDisplayList</servlet-name>
    <servlet-class>todo.TodoDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoDisplayList</servlet-name>
    <url-pattern>/TodoDisplayList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectServlet</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>project.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoDis</display-name>
    <servlet-name>TodoDis</servlet-name>
    <servlet-class>todo.TodoDis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoDis</servlet-name>
    <url-pattern>/TodoDis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispTodo</display-name>
    <servlet-name>DispTodo</servlet-name>
    <servlet-class>todo.DispTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispTodo</servlet-name>
    <url-pattern>/DispTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDB</display-name>
    <servlet-name>CreateDB</servlet-name>
    <servlet-class>todo.CreateDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDB</servlet-name>
    <url-pattern>/CreateDB</url-pattern>
  </servlet-mapping>
</web-app>